.hero {
  font: 18px / 1.3 $ff-forms;
  background: $img-hero no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 66px;
  padding-bottom: 90px;
}

.hero-items {
  list-style-type: none;
  margin: 0;
  color: white;
  -webkit-padding-start: 0;
  margin-left: 15%;
  margin-right: 15%;
}

.hero-item {
  &:not(.is-active) {
    display: none;
  }

  &.is-active {
    display: block;
  }
}

.hero-title {
  font-size: 54px;
  font-weight: normal;
}

.hero-options {
  
}

.hero-option {
  border: 3px solid white;
  border-radius: 100%;
  display: inline-block;
  height: 15px;
  margin: 0 6px;
  width: 15px;
}