@media screen and (min-width: $lg-screen) {
  .menu-items {
    position: initial;
    background-color: initial;
    align-items: center;
    display: flex;
    padding: 0;
  }

  .menu-item {
    border-bottom: none;
  }
}