.services {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.service {
  position: relative;
  flex: 1 1 350px;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  padding: 0 22px;
}

.icon-graph::before {
	content: "\e06b";
}