.latest-works {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.work {
  position: relative;
  flex: 1 1 300px;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
}

.work-img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;

  .work:hover & {
    transform: scale(1.2);
  }
}

.work-text {
  // Yo voy a ser absoluto a mi primer padre relativo!!!
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  flex-flow: column wrap;
  background-color: $orange-light;
  z-index: $z-index-1;

  .work:hover & {
    visibility: visible;
    opacity: 1;
  }
}
