.h1 {
    font: 15px/24px "raleway-heavy", sans-serif;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: $grey-darker;
    text-align: center;
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        right: 0;
        top: 1.5em;
        bottom: 0;
        content: " ";
        border: solid $orange-light;
        border-width: 3px 0 0;
        width: 90px;
        margin: 11px auto 15px;
        height: 0;
        clear: both;
        text-align: center;
        display: block;
    }

    &::after {
        content: ".";
        color: $orange-light;
    }
}

.h2 {
    font: 16px/24px "raleway-heavy", sans-serif;
    color: #252525;
    font-weight: bold;
    margin: 18px 0 15px;
    
    &::after {
        content: ".";
    }
}